/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 déc. 2017, 08:46:39
    Author     : user
*/

.forme1{
	float: left;
	width: 200px;
	height: 200px;
	background: linear-gradient(180deg, white, buttonshadow 80%);
	margin-right: 10px;
}

.forme2{
	float: left;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle at center, white 0, green 100%);
	margin-right: 10px;
}

.forme3{
	float: left;
	width: 200px;
	height: 200px;
	background: repeating-linear-gradient(-45deg, transparent, transparent 20px, red 20px, red 40px);
	margin-right: 10px;
}

.forme4{
	float: left;
	width: 200px;
	height: 200px;
	background: repeating-radial-gradient(circle farthest-corner, green, green 10px, transparent 10px, transparent 20px);
	margin-right: 10px;	
}

.mes_formes{
	position: relative;
	margin-left: 23%;
}

