/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 déc. 2017, 09:09:36
    Author     : user
*/

/*J'ai compris le priincipe un peu tard, faire 4 div lorsque c'est actif
effectuer la transformation*/


.figure{
	background-color: gray;
}

.figure:hover {
	background-color: red;
}

.liste{
	cursor: pointer;
}

#forme_anim{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: gray;
	transition-duration: 1s;
}

/*Figure1 = carre*/
#figure1:hover ~ #forme_anim{
	border-radius: 0px;
}

/*Figure2 = rond*/
#figure2:hover ~ #forme_anim{
	border-radius: 100px;
}

/*Pas fini*/

#figure2:hover ~ #2_4{
	transform: rotateZ(90deg);
}

#figure2:hover ~ #3_4{
	transform: rotateZ(90deg);
}

#figure2:hover ~ #4_4{
	transform: rotateZ(90deg);
}





/*Figure3 = fleur1*/
#figure3:hover ~ #1_4{
	transform: rotateZ(90deg);
}

#figure3:hover ~ #2_4{
	transform: rotateZ(90deg);
}

#figure3:hover ~ #3_4{
	transform: rotateZ(90deg);
}

#figure3:hover ~ #4_4{
	transform: rotateZ(90deg);
}


/*Figure4 = fleur2*/
#figure4:hover ~ #1_4{
	transform: rotateZ(90deg);
}

#figure4:hover ~ #2_4{
	transform: rotateZ(90deg);
}

#figure4:hover ~ #3_4{
	transform: rotateZ(90deg);
}

#figure4:hover ~ #4_4{
	transform: rotateZ(90deg);
}





