/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 déc. 2017, 08:09:33
    Author     : user
*/

@font-face {
	font-family: "CaviarDreams";
	src: url("../font/CaviarDreams.ttf");
}

h1{
	text-align: center;
	font-family: "CaviarDreams";
}

.lbl_onglet{
	padding: 5px;
	border: 1px black solid;
}

.groupe_onglet{
	position: absolute;
	margin-top: 100px;
	margin-left: 100px;
	width: 95%;
}

.fond{
	height: 500px;
}

input[type=radio]{
	display:none;
}

input[type=radio]:checked + .fond1{
	top:25px;
	position: absolute;
	width: 95%;
	height: 500px;
	margin-right: 50px;
	background-color: white;
	border: 1px black solid;
}

input[type=radio]:checked + .fond2{
	top:25px;
	position: absolute;
	width: 95%;
	height: 500px;
	margin-right: 50px;
	background-color: white;
	border: 1px black solid;
}

input[type=radio]:checked + .fond3{
	top:25px;
	position: absolute;
	width: 95%;
	height: 500px;
	background-color: white;
	border: 1px black solid;
	
}




