@font-face {
	font-family: "CaviarDreams";
	src: url("font/CaviarDreams.ttf");
}

//*********************************//
//***		General et Body		***//
//*********************************//

* {
	font-family: "CaviarDreams";
	text-decoration: none;
	color: black;
}


body{
	margin: 0;
	padding: 0;
}

//*********************************//
//***		Gestion du menu		***//
//*********************************//

nav{
	position: fixed;
	width:200px;
	height:100%;
	background-color: white;
	top:0px;
	left:-160px;
	padding: 0;
	margin: 0;
	border-right: graytext 1px solid;
	overflow-y: auto;
	transition-duration: 1s;
	box-shadow: 1px 0px 2px grey;
	z-index: 1002;

	.titre_menu{
		margin-left: 25px;
		display: inline-block;
		padding: 0px;
		margin-right: 14px;
	}


	ol{
		position: relative;
		width: 200px;
		top:150px;
		margin: 0;
		padding : 0;

		li {
			height: 1.7em;
			list-style-type: none;
			/*A combiner avec text-shadow*/
			left: 5px;
			text-align: right;
			padding: 5px;	
			border-right-color: gray;
			border-right-width: 4px;
			border-right-style: solid;

			a {
				line-height : 1.7em;
				margin-right: 15px;
			}

			&:hover{
				border-right-color: red;
				border-right-width: 4px;
				border-right-style: solid;
			}
		}
	}
}


/*Position du label permattant d'ouvrir le menu
Ici le label est une icone hamburger (navicon)
Ne prend globalement que la taille de l'icône*/
.to-on {

	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 2000;

	.fa {
		transition-duration: 1s;
	}
}


/*Position du label permattant de fermer le menu
Prend toute la zone en dehors du menu. N'est pas
affiché par défaut, sera affiché si le menu est ouvert*/
.to-off {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 200px;
	right: 0;
	display: none;
}

/*Cacher la checkbox
Nous n'avons pas besoin qu'elle soit affichée*/
#activer {
	display: none;
}

/*Après un clic sur l'icône de menu, on fait
une translation du menu, la checkbox est cochée*/
#activer:checked ~ nav {
	transition-duration: 1s;
	transform: translateX(150px);
}

/*Si on veut également translater l'icône du menu,
on applique la translation du menu également*/
#activer:checked ~ .to-on .fa{
	transition-duration: 1s;
	transform: translateX(150px);
} 

/*On affiche la zone cliquable pour la fermeture du menu*/
#activer:checked ~ .to-off {
	display: block;
}


//*********************************//
//***			Entete			***//
//*********************************//

.espace{
	width: 100%;
	min-height: 75px;
	height: auto;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	margin-left: 40px;

	h1{
		padding-left: 35px;
		padding-right: 70px;
		line-height: 100%;
	}
}

//*********************************//
//***		Contenu	et carte	***//
//*********************************//

.contenu{

	z-index: -2;

	p{
		text-align: justify;
		margin-top: 30px;
		margin-left: 75px;
		margin-right: 35px;
		margin-bottom: 30px;
		text-align: center;
	}


	.carte{
		margin-top: 30px;
		margin-left: 40px;
		margin-bottom: 30px;
		padding-bottom: 45px;
/*		border-top: gray 1px solid;*/
		border-bottom: gray 1px solid;
		text-align: center;
		
		h1{

		}
		
		a.stylebouton{
			padding: 15px;
			background-color: gray;
			border-radius: 50px;
			width:200px;
			height: auto;
			
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

//*********************************//
//***			Footer			***//
//*********************************//

footer{
	width: 100%;
	left: 40px;
	bottom: 0px;
	background-color: white;
	z-index: 1001;

	p{
		font-size: small;
		padding-left: 75px;
	}
}



