// Ceci est un commentaire less, il ne sera pas compilé
/* Ceci est un commentaire css, il sera compilé et affiché dans le css produit*/

@carteFaceAvant: #ffc728;
@carteFaceArriere: #269abc;

/******************************************************/
/* Défintion d'une checkbox de type carte	          */
/******************************************************/

.conteneurCarte{
	position: relative;
	width: 265px;
	min-width: 265px;
	height: 370px;
	margin-bottom: 30px;

	/* La rotation s'effectue lorsque l'on coche la checkbox*/
	& > input[type=checkbox]:checked + .magic {
		transform: rotateY(180deg);
	}

	/* Cacher la checkbox */
	input[type=checkbox] {
		display:none;
	}

}

.magic{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	text-align : initial;


	label:hover {
		opacity: 20%;
		cursor: pointer;
	}

	/* La rotation s'effectue lorsque l'on survole la carte*/
	/*.carte:hover {
		transform: rotateY(180deg);
	}*/
}

.faceAvant{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;

	.fa{
		margin-top: 50%;
	}
}


.faceArriere{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);



	/* Ombrage sous carte */
	/*	box-shadow: 0px 1px 12px #aaa;*/

	.fa{
		margin-top: 65%;
	}

}

/******************************************************/
/* Grille d'affichage pour les cartes		          */
/******************************************************/

.grille{
	margin: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	z-index: -50;

}

/* Conserver pour référence ultérieur - permet d'affiner la position des cartes */
/*.conteneurCarte{
	width: calc(25% - 2rem);
	 déjà renseigné 
	min-width: 250px;
	margin-bottom: 2rem;
}*/







