/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 déc. 2017, 08:43:58
    Author     : gaiga4u
*/


.filtre{
	position: relative;
	padding: 0;
	border: 0;

}


.image{

	top:0;
	left:0;
	width: 100%;
	height: auto;
	padding: 0;
	border: 0;
}

.input_color{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0.25;
	margin: 0;
	padding:0;
	border: none;
}