// Ceci est un commentaire less, il ne sera pas compilé
/* Ceci est un commentaire css, il sera compilé et affiché dans le css produit*/

@segment: #45f442;
@halo: #41d83e;

@blood: #bc1010;

@font-face {
	font-family: DS-Digital;
	src: url("../font/DS-DIGI.TTF");
	font-weight: normal;
	font-style: normal;
	font-size: 150px;
}

@font-face {
	font-family: blood;
	src: url("../font/blood.ttf");
	font-weight: normal;
	font-style: normal;
}

footer {
	position: fixed;
	p{
		bottom: 0;
	}
}

.digital() {
	font-family: "DS-Digital", Helvetica, Arial, sans-serif;
}

.blood() {
	font-family: "blood", Helvetica, Arial, sans-serif;
}

.timer{
	/* Fixe en haut de l'écran le nom du site et le menu */
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	justify-content: space-around;
	color: @segment;
	width:1000px;

	& >.manager{
		//width: 9px;
		//height: 16px;
		&.manager>* {
			.digital();
			text-shadow:0px 0px 2px @halo;
			font-size: 150px;
		}
	}

	& >.separateur{
		//height: 16px;
		//line-height: 16px;
		.digital();
		text-shadow:0px 0px 2px @halo;
		font-size: 150px;
	}
}


.timer2{
	/* Fixe en haut de l'écran le nom du site et le menu */
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(+50%);
	display: flex;
	justify-content: space-around;
	color: @blood;

	& >.manager{
		//width: 9px;
		//height: 16px;
		&.manager>* {
			.blood();

		}
	}

	& >.separateur{
		//height: 16px;
		//line-height: 16px;
		//height: 16px;
		.blood();

	}
}

//===============================//
// Blocs des dizaines d'heures   //
//===============================//
.dheures>*{
	position: absolute;
	//background: graytext;
	&.n0{
		animation: 360000s steps(1) 0s infinite chiffre0_9;
	}	

	&.n1{
		animation: 360000s steps(1) 0s infinite chiffre1_9;
	}	

	&.n2{
		animation: 360000s steps(1) 0s infinite chiffre2_9;
	}	

	&.n3{
		animation: 360000s steps(1) 0s infinite chiffre3_9;
	}	

	&.n4{
		animation: 360000s steps(1) 0s infinite chiffre4_9;
	}	

	&.n5{
		animation: 360000s steps(1) 0s infinite chiffre5_9;
	}	

	&.n6{
		animation: 360000s steps(1) 0s infinite chiffre6_9;
	}	

	&.n7{
		animation: 360000s steps(1) 0s infinite chiffre7_9;
	}	

	&.n8{
		animation: 360000s steps(1) 0s infinite chiffre8_9;
	}	

	&.n8.blood{
		animation: 360000s steps(1) 0s infinite chiffre8_9_blood;
	}

	&.n9{
		animation: 360000s steps(1) 0s infinite chiffre9_9;
	}	
}

//===============================//
// Blocs des heures				 //
//===============================//
.heures>*{
	position: absolute;
	//background: blueviolet;
	&.n0{
		animation: 36000s steps(1) 0s infinite chiffre0_9;
	}	

	&.n1{
		animation: 36000s steps(1) 0s infinite chiffre1_9;
	}	

	&.n2{
		animation: 36000s steps(1) 0s infinite chiffre2_9;
	}	

	&.n3{
		animation: 36000s steps(1) 0s infinite chiffre3_9;
	}	

	&.n4{
		animation: 36000s steps(1) 0s infinite chiffre4_9;
	}	

	&.n5{
		animation: 36000s steps(1) 0s infinite chiffre5_9;
	}	

	&.n6{
		animation: 36000s steps(1) 0s infinite chiffre6_9;
	}	

	&.n7{
		animation: 36000s steps(1) 0s infinite chiffre7_9;
	}	

	&.n8{
		animation: 36000s steps(1) 0s infinite chiffre8_9;
	}

	&.n8.blood{
		animation: 36000s steps(1) 0s infinite chiffre8_9_blood;
	}	

	&.n9{
		animation: 36000s steps(1) 0s infinite chiffre9_9;
	}	
}

//===============================//
// Blocs des dizaines de minutes //
//===============================//
.dminutes>*{
	position: absolute;
	//background: greenyellow;
	&.n0{
		animation: 3600s steps(1) 0s infinite chiffre0_5;
	}	

	&.n1{
		animation: 3600s steps(1) 0s infinite chiffre1_5;
	}	

	&.n2{
		animation: 3600s steps(1) 0s infinite chiffre2_5;
	}	

	&.n3{
		animation: 3600s steps(1) 0s infinite chiffre3_5;
	}	

	&.n4{
		animation: 3600s steps(1) 0s infinite chiffre4_5;
	}	

	&.n5{
		animation: 3600s steps(1) 0s infinite chiffre5_5;
	}	

	&.n8{
		animation: 3600s steps(1) 0s infinite chiffre8_5;
	}	
}

//===============================//
// Blocs des minutes	        //
//===============================//
.minutes>*{
	position: absolute;
	//background: gray;
	&.n0{
		animation: 600s steps(1) 0s infinite chiffre0_9;
	}	

	&.n1{
		animation: 600s steps(1) 0s infinite chiffre1_9;
	}	

	&.n2{
		animation: 600s steps(1) 0s infinite chiffre2_9;
	}	

	&.n3{
		animation: 600s steps(1) 0s infinite chiffre3_9;
	}	

	&.n4{
		animation: 600s steps(1) 0s infinite chiffre4_9;
	}	

	&.n5{
		animation: 600s steps(1) 0s infinite chiffre5_9;
	}	

	&.n6{
		animation: 600s steps(1) 0s infinite chiffre6_9;
	}	

	&.n7{
		animation: 600s steps(1) 0s infinite chiffre7_9;
	}	

	&.n8{
		animation: 600s steps(1) 0s infinite chiffre8_9;
	}

	&.n8.blood{
		animation: 600s steps(1) 0s infinite chiffre8_9_blood;
	}	

	&.n9{
		animation: 600s steps(1) 0s infinite chiffre9_9;
	}	
}


//===============================//
// Blocs des dizaines de secondes //
//===============================//
.dsecondes>*{
	position: absolute;
	//background: red;
	&.n0{
		animation: 60s steps(1) 0s infinite chiffre0_5;
	}	

	&.n1{
		animation: 60s steps(1) 0s infinite chiffre1_5;
	}	

	&.n2{
		animation: 60s steps(1) 0s infinite chiffre2_5;
	}	

	&.n3{
		animation: 60s steps(1) 0s infinite chiffre3_5;
	}	

	&.n4{
		animation: 60s steps(1) 0s infinite chiffre4_5;
	}	

	&.n5{
		animation: 60s steps(1) 0s infinite chiffre5_5;
	}

	&.n8{
		animation: 1s steps(1) 0s infinite chiffre8_5;
	}
}

//===========================//
// Blocs des secondes //
//===========================//
.secondes>*{
	position: absolute;
	//background: blue;
	&.n0{
		animation: 10s steps(1) 0s infinite chiffre0_9;
	}	

	&.n1{
		animation: 10s steps(1) 0s infinite chiffre1_9;
	}	

	&.n2{
		animation: 10s steps(1) 0s infinite chiffre2_9;
	}	

	&.n3{
		animation: 10s steps(1) 0s infinite chiffre3_9;
	}	

	&.n4{
		animation: 10s steps(1) 0s infinite chiffre4_9;
	}	

	&.n5{
		animation: 10s steps(1) 0s infinite chiffre5_9;
	}

	&.n6{
		animation: 10s steps(1) 0s infinite chiffre6_9;
	}	

	&.n7{
		animation: 10s steps(1) 0s infinite chiffre7_9;
	}	

	&.n8{
		animation: 10s steps(1) 0s infinite chiffre8_9;
	}

	&.n8.blood{
		animation: 10s steps(1) 0s infinite chiffre8_9_blood;
	}

	&.n9{
		animation: 10s steps(1) 0s infinite chiffre9_9;
	}	
}

//===============================//
// Blocs des dixieme de secondes //
//===============================//
.disecondes>*{
	position: absolute;
	//background: green;
	&.n0{
		animation: 1s steps(1) 0s infinite chiffre0_5;
	}	

	&.n1{
		animation: 1s steps(1) 0s infinite chiffre1_5;
	}	

	&.n2{
		animation: 1s steps(1) 0s infinite chiffre2_5;
	}	

	&.n3{
		animation: 1s steps(1) 0s infinite chiffre3_5;
	}	

	&.n4{
		animation: 1s steps(1) 0s infinite chiffre4_5;
	}	

	&.n5{
		animation: 1s steps(1) 0s infinite chiffre5_5;
	}

	&.n8{
		animation: 1s steps(1) 0s infinite chiffre8_5;
	}	

}


//===========================//
// Blocs centieme de secondes//
//===========================//
.csecondes>* {
	position: absolute;
	//background: yellow;

	&.n0{
		animation: 100ms steps(1) 0s infinite chiffre0_9;
	}	

	&.n1{
		animation: 100ms steps(1) 0s infinite chiffre1_9;
	}	

	&.n2{
		animation: 100ms steps(1) 0s infinite chiffre2_9;
	}	

	&.n3{
		animation: 100ms steps(1) 0s infinite chiffre3_9;
	}	

	&.n4{
		animation: 100ms steps(1) 0s infinite chiffre4_9;
	}	

	&.n5{
		animation: 100ms steps(1) 0s infinite chiffre5_9;
	}	

	&.n6{
		animation: 100ms steps(1) 0s infinite chiffre6_9;
	}	

	&.n7{
		animation: 100ms steps(1) 0s infinite chiffre7_9;
	}	

	&.n8{
		animation: 100ms steps(1) 0s infinite chiffre8_9;
	}	

	&.n8.blood{
		animation: 100ms steps(1) 0s infinite chiffre8_9_blood;
	}	

	&.n9{
		animation: 100ms steps(1) 0s infinite chiffre9_9;
	}

}

//====================//
// Animation de 0 à 9 //
//====================//

// Config du 0
@-webkit-keyframes chiffre0_9 {
	0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	0% { opacity: 1;} 
}

// Config du 1
@-webkit-keyframes chiffre1_9 {
	0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	10% { opacity: 1;} 
}

// Config du 2
@-webkit-keyframes chiffre2_9 {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	20% { opacity: 1;} 
}

// Config du 3
@-webkit-keyframes chiffre3_9 {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	30% { opacity: 1;} 
}

// Config du 4
@-webkit-keyframes chiffre4_9 {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	40% { opacity: 1;} 
}

// Config du 5
@-webkit-keyframes chiffre5_9 {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	50% { opacity: 1;} 
}

// Config du 6
@-webkit-keyframes chiffre6_9 {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	60% { opacity: 1;} 
}

// Config du 7
@-webkit-keyframes chiffre7_9 {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	70% { opacity: 1;} 
}

// Config du 8 digital
@-webkit-keyframes chiffre8_9 {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0.2; }
	80% { opacity: 1;} 
}

// Config du 8 blood
@-webkit-keyframes chiffre8_9_blood {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	80% { opacity: 1;} 
}

// Config du 9
@-webkit-keyframes chiffre9_9 {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { opacity: 0; }
	90% { opacity: 1;} 
}


//====================//
// Animation de 0 à 5 //
//====================//

// Config du 0
@-webkit-keyframes chiffre0_5 {
	0%, 16.66%, 33.33%, 50%, 66.66%, 83.33% { opacity: 0; }
	0% { opacity: 1;} 
}

// Config du 1
@-webkit-keyframes chiffre1_5 {
	0%, 16.66%, 33.33%, 50%, 66.66%, 83.33%  { opacity: 0; }
	16.66% { opacity: 1;} 
}

// Config du 2
@-webkit-keyframes chiffre2_5 {
	0%, 16.66%, 33.33%, 50%, 66.66%, 83.33%  { opacity: 0; }
	33.33% { opacity: 1;} 
}

// Config du 3
@-webkit-keyframes chiffre3_5 {
	0%, 16.66%, 33.33%, 50%, 66.66%, 83.33%  { opacity: 0; }
	50% { opacity: 1;} 
}

// Config du 4
@-webkit-keyframes chiffre4_5 {
	0%, 16.66%, 33.33%, 50%, 66.66%, 83.33%  { opacity: 0; }
	66.66% { opacity: 1;} 
}

// Config du 5
@-webkit-keyframes chiffre5_5 {
	0%, 16.66%, 33.33%, 50%, 66.66%, 83.33%  { opacity: 0; }
	83.33% { opacity: 1;} 
}

// Config du 8 digital
@-webkit-keyframes chiffre8_5 {
	0%, 100% { opacity: 0.2; }
}

// Config du 8 blood
@-webkit-keyframes chiffre8_5_blood {
	0%, 100% { opacity: 0; }
}